body {
    background-color: #292929;
}

div {
    position:relative;
}

.navBar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;


    position:absolute;
    left:50%;top:0;
    margin-left:-35%;
    width:70%;
}
    
.navBar li{
    float: left;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #13c90c;
}

.active {
    color: #13c90c;
}